*
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header
{
    background-image: url(block2.png);
    height: 200vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

.logo img
{
    width: 200px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin:auto;
}
.row1
{
    max-width: 1200px;
    margin:auto;
    color: white;
}

.hero
{
    position: top;
    width:800px;
    margin-left: 0;
    margin-top: 0;
}

h1
{
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top:275px;
}

.login-page
{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}

.form
{
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

.form input
{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border :0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active{
    background: #43A047;
}

.form .message{
    margin: 15px 0 0;
    color: black;
    font-size: 12px;
}

.form .message a{
    color: #4CAF50;
    text-decoration: none;
}

.form .register-form{
    display: none;
}


